:root {
  --footer-link-color: brown;
}
.home .hero .action-button.secondary {
  z-index: 9;
}
.home .hero .action-button.primary {
  z-index: 9;
}
.anchor-right .anchor-right-content {
  border-left: 1px solid var(--c-border);
}